<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry_id %>
    <%= form.number_field :entry_id, id: :entry_entry_id %>
  </div>

  <div class="field">
    <%= form.label :entry_user %>
    <%= form.text_field :entry_user, id: :entry_entry_user %>
  </div>

  <div class="field">
    <%= form.label :entry_name %>
    <%= form.text_field :entry_name, id: :entry_entry_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
