<div class="container">
<%= form_with(model: @request, local:true)do|form| %>

  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= @request.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br />
  <div class="request_content">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>
  
<br />

  <div class="request_content">
    <%= form.label :name %>
    <%= form.text_field :name,size: "30", value: current_user.name %>
  </div>

<br />

  <div class="request_content">
    <%= form.label :email %>
    <%= form.email_field :email ,size: "30", value: current_user.email %>
  </div>

<br />

  <div class="request_content">
    <%= form.label :department %>
    <%= form.text_field :department ,size: "30", value: current_user.department %>
  </div>

<br />

  <div class="request_content">
    <%= form.label :phone %>
    <%= form.text_field :phone ,size: "30",value: current_user.phone %>
  </div>

<br />

  <div class="request_content">
    <%= form.label :manager %>
    <%= form.text_field :manager ,size: "30"%>
  </div>

<br />

  <div class="request_content">
    <%= form.label :chief %>
    <%= form.text_field :chief ,size: "30"%>
  </div>

<br />

  <div class="request_content">
    <%= form.label :mailing %>
    <%= form.email_field :mailing ,size: "30"%>
  </div>

<br />

  <div class="request_content">
    <%= form.label :purpose %>
    <%= form.text_area :purpose ,size: "30x5"%>
  </div>

<br />

  <div class="request_content">
    <%= form.label :reason %>
    <%= form.text_area :reason ,size: "30x5"%>
  </div>

<br />

  <div class="request_content">
    <%#= form.label :range %>
    <%#= form.text_field :range %>
  </div>

  <div class="request_content">
    <%= form.label :content %>
    <%= form.select :content ,["追加","削除"], :prompt => "＝＝　選択してください　＝＝" %>
  </div>
  
<br />

  <div class="request_content">
    <%= form.fields_for :entries do |entries_form| %>

      <%= entries_form.label :entry_name,"利用者名" %>
      <%= entries_form.text_field :entry_name,size: "30" %>

      <br />
      <br />

      <%= entries_form.label :entry_user,"利用者メールアドレス" %>
      <%= entries_form.email_field :entry_user,size: "30" %>
    <% end %>
  </div>

<br />
  <% if current_user.roll == "manage" %>
  <div class="request_content">
    <%= form.check_box :managecheck %>
    <%= form.label :managecheck %>
  </div>

<br />

  <div class="request_content">
    <%= form.check_box :chiefcheck %>
    <%= form.label :chiefcheck %>
  </div>

<br />

  <div class="request_content">
    <%= form.check_box :status %>
    <%= form.label :status %>
  </div>
  
  <% else %>
  <br>
  <% end %>

  <br>
  
  <%= form.submit %>

<% end %>
</div>