<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
<body>
<div class="container">
<h3>申請一覧</h3>
<p>＊＊＊ 利用にあたって ＊＊＊</p>
<p>・こちらはメーリングリストへの利用者追加・削除の申請を行うためのシステムです。</p>
<p>・現在ご覧いた頂いているのが申請の一覧となります。</p>
<p>・他画面をご覧の際、申請一覧に戻る場合は画面上部の『申請一覧』を選択してください。</p>
<p>・操作については画面下に記載しております。</p>
<br>

<!--<p>Find me in app/views/requests/index.html.erb</p> -->
<p><%= notice %></p>

<table>
  <tr>
    <th>申請日</th>
    <th>申請者　　</th>
    <th>ＭＬ名　　</th>
    <th>情報管理責任者　　</th>
    <th>情報管理責任者承認　　</th>
    <th>ＭＬ管理責任者　　</th>
    <th>ＭＬ管理責任者承認　　</th>
    <th>ステータス　　</th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.date %></td>
    <td><%= request.name %></td>
    <td><%= request.mailing %></td>
    <td><%= request.manager %></td>
    <td><%= request.managecheck %></td>
    <td><%= request.chief %></td>
    <td><%= request.chiefcheck %></td>
    <td><%= request.status %></td>
    <td class="label label-info"><%= link_to '詳細', request_path(request.id) %></td>
    <td class="label label-warning"><%= link_to '編集', edit_request_path(request.id),data: { confirm: '編集しますか？' }  %></td>
    <td class="label label-danger"><%= link_to '削除', request_path(request.id),method: :delete,data: { confirm: '削除してもよろしいですか？' }  %></td>
  </tr>
<% end %>

</table>
</div>
<p>＊＊＊　操作について　＊＊＊</p>
<p>【ログアウト】</p>
<p>　画面上部のバーより『ログアウト』を選択してください。</p>

<p>【新規申請】</p>
<p>　画面上部のバーより『申請フォーム』を選択してください。</p>

<p>【申請内容の詳細確認・変更・削除】</p>
<p>　詳細確認：一覧右側の『詳細』ボタンを選択してください。</p>
<p>　　変更　：一覧右側の『編集』ボタンを選択してください。</p>
<p>　　削除　：一覧右側の『削除』ボタンを選択してください。</p>


<p>【申請内容の承認】</p>
<p>　一覧右側の『編集』ボタンを選択後、内容の確認及び、『承認』操作を行ってください。</p>


<br>
<br>

</body>
</html>