<div class="container">
<h3>申請内容詳細</h3>

<p>※以下、申請内容の詳細です。</p>
<p>申請日：<%= @request.date %></p>
<p>申請者名：<%= @request.name %></p>
<p>メールアドレス：<%= @request.email %></p>
<p>所属部署：<%= @request.department %></p>
<p>電話番号：<%= @request.phone %></p>
<p>情報管理者：<%= @request.manager %></p>
<p>ML管理責任者：<%= @request.chief %></p>
<p>ML名：<%= @request.mailing %></p>
<p>ML利用目的入力：<%= @request.purpose %></p>
<p>申請理由入力：<%= @request.reason %></p>
<p>利用範囲：<%= @request.range %></p>
<p>申請内容：<%= @request.content %></p>

<% @request.entries.each do |entry_users| %>
  <br>
  <p>利用者：<%= entry_users.entry_name %></p>
  <p>利用者メールアドレス：<%= entry_users.entry_user %></p>
<% end %>

<br>

<p>情報管理者承認：<%= @request.managecheck %></p>
<p>ML管理責任者承認：<%= @request.chiefcheck %></p>

<br>

<p>処理ステータス：<%= @request.status %></p>

</div>
