<h3>申請内容詳細</h3>



<p>申請日：<%= @request.date %></p>
<p>申請者名：<%= @request.name %></p>
<p>メールアドレス：<%= @request.email %></p>
<p>所属部署：<%= @request.department %></p>
<p>電話番号：<%= @request.phone %></p>
<p>情報管理者：<%= @request.manager %></p>
<p>ML管理責任者：<%= @request.chief %></p>
<p>ML名：<%= @request.mailing %></p>
<p>ML利用目的入力：<%= @request.purpose %></p>
<p>申請理由入力：<%= @request.reason %></p>
<p>利用範囲：<%= @request.range %></p>
<p>申請内容：<%= @request.content %></p>
<p>利用者：<%= @request.user %></p>
<p>処理ステータス：<%= @request.status %></p>
<p>情報管理者承認：<%= @request.managecheck %></p>
<p>ML管理責任者承認：<%= @request.chiefcheck %></p>


<!--
<p>
  <strong>Index:</strong>
  <%#= @request.index %>
</p>
-->

<%#= link_to 'Edit', edit_request_path(@request) %> 

